<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="application" point="org.eclipse.core.runtime.applications">
	<application thread="any" cardinality="*" visible="true" >
		<run class="TestApplication.app.MainApplication" />
		
	</application>
	
</extension>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product application="TestApplication.app.application" name="TestApplication" >
		<property name="appName" value="TestApplication" />
		
	</product>
	
</extension>
</plugin>
